/*! Base */
@font-face {
    font-family: Charter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(Charter/Charter\ Regular.ttf) format('truetype')
}

@font-face {
    font-family: Charter;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(Charter/Charter\ Bold.ttf) format('truetype')
}

@font-face {
    font-family: Charter;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(Charter/Charter\ Bold.ttf) format('truetype')
}

@font-face {
    font-family: Charter;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(Charter/Charter\ Bold.ttf) format('truetype')
}

@font-face {
    font-family: Newsreader;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(Newsreader/Newsreader_60pt-Regular.ttf) format('truetype')
}

@font-face {
    font-family: Newsreader;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(Newsreader/Newsreader_60pt-SemiBold.ttf) format('truetype')
}

@font-face {
    font-family: Newsreader;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(Newsreader/Newsreader_60pt-Bold.ttf) format('truetype')
}

@font-face {
    font-family: Newsreader;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(Newsreader/Newsreader_60pt-ExtraBold.ttf) format('truetype')
}

@font-face {
    font-family: Yrsa;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(Yrsa/Yrsa-Regular.ttf) format('truetype')
}

@font-face {
    font-family: Yrsa;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(Yrsa/Yrsa-SemiBold.ttf) format('truetype')
}

@font-face {
    font-family: Yrsa;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(Yrsa/Yrsa-Bold.ttf) format('truetype')
}

@font-face {
    font-family: Yrsa;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(Yrsa/Yrsa-Medium.ttf) format('truetype')
}

/*! Header */
@font-face {
    font-family: Noto_Sans;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(Noto_Sans/NotoSans-Regular.ttf) format('truetype')
}

@font-face {
    font-family: Noto_Sans;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(Noto_Sans/NotoSans-SemiBold.ttf) format('truetype')
}

@font-face {
    font-family: Noto_Sans;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(Noto_Sans/NotoSans-Bold.ttf) format('truetype')
}

@font-face {
    font-family: Noto_Sans;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(Noto_Sans/NotoSans-Black.ttf) format('truetype')
}

@font-face {
    font-family: Jost;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(Jost/Jost-Regular.ttf) format('truetype')
}

@font-face {
    font-family: Jost;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(Jost/Jost-SemiBold.ttf) format('truetype')
}

@font-face {
    font-family: Jost;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(Jost/Jost-Bold.ttf) format('truetype')
}

@font-face {
    font-family: Jost;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(Jost/Jost-ExtraBold.ttf) format('truetype')
}